body {
    padding: 0;
    font-size: 16px;
    padding: 10px;
 
}
.fa-solid, .fa-brands {
    color:hotpink;
}
h1 {
    color: thistle;
}

footer {
    text-align: center;
    background-color: grey;
}

#email {
    padding-top: 0;
}

#name {
    padding-bottom: 0;
    color: black;
}
.obj {
    font-size: large ;
}
.container {
    display: flex;
    
}

.left {
    flex: 25%;
    padding: 20px;
}

.right {
    flex: 70%;
    padding: 20px;
}

.contactinfo {
    background-color: thistle;
    height: 200px;
   
}

/* Media Queries */
@media (max-width: 1050px) {
    body {
        font-size: 20px;
        padding: 20px;
    }
    
    .left, .right {
        flex: 1;
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .contactinfo {
        order: 1;
        height: 300px;
    }
    
   .right >  .obj {
        order: 2;
    }
    
    .edu-cert {
        order: 3;
    }
    
    .skills {
        order: 4;
    }
    
    .projects {
        order: 5;
    }
}
